In [38]:
import pandas as pd

def fasta2csv(filename):
    with open(filename, 'r') as f:
        content = f.read()
        
    lines = content.splitlines()

    IDs = []
    seqs = []

    current_id = None
    current_seq = []

    for line in lines:
        if line.startswith('>'):
            # Save the previous sequence
            if current_id is not None:
                IDs.append(current_id)
                seqs.append(''.join(current_seq))

            # Start a new sequence
            current_id = line[1:].strip()
            current_seq = []
        else:
            current_seq.append(line)

    # Save the last sequence
    if current_id is not None:
        IDs.append(current_id)
        seqs.append(''.join(current_seq))

    id_ = pd.DataFrame({'ID': IDs})
    seq = pd.DataFrame({'sequence': seqs})
    
    df = pd.concat([id_, seq], axis=1)
    df['length'] = df['sequence'].apply(lambda x: len(x))
    df['N_counts'] = df['sequence'].apply(lambda x:x.count('N'))
    
    # Save DataFrame to CSV
    #df.to_csv(output_csv, index=False)
    
    return df

In [76]:
df = fasta2csv('vikarabad.fa')

In [77]:
df.shape

(651, 4)

In [78]:
df.drop_duplicates()

,ID,sequence,length,N_counts
0,EPI_ISL_2661178,ACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTTTAAAATC...,29799,68
1,EPI_ISL_4572428,CCAACCAACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTT...,29753,1407
2,EPI_ISL_4572427,CCAACCAACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTT...,29755,1228
3,EPI_ISL_4546372,CCAACCAACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTT...,29829,2188
4,EPI_ISL_4546369,CCAACCAACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTT...,29829,451
...,...,...,...,...
646,EPI_ISL_2661223,ACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTTTAAAATC...,29815,6
647,EPI_ISL_2661196,ACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTTTAAAATC...,29816,259
648,EPI_ISL_2661226,ACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTTTAAAATC...,29815,259
649,EPI_ISL_2661160,ACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTTTAAAATC...,29812,6
650,EPI_ISL_2661163,ACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTTTAAAATC...,29816,242

In [79]:
import os
os.getcwd()

'C:\\Users\\dell\\Desktop\\CityClusterAnalysis\\final_fasta'